@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;800&display=swap");

body {
  font-family: "Plus Jakarta Sans";
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

/* Header */
header {
  position: relative;
  z-index: 200;
}

header nav {
  width: 85%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-img {
  width: 100px;
  height: 100px;
}

.nav-links ul {
  display: flex;
  list-style: none;
}

.nav-links ul li {
  font-weight: bold;
  text-transform: uppercase;
  margin-right: 1.5rem;
}

.nav-links a {
  text-decoration: underline;
  text-decoration-color: #db0c64;
  text-decoration-thickness: 3px;
  color: black;
}

/* Our Work Section */
.our-work-main-section {
  display: grid;
  grid-template-columns: 1fr 0.4fr;
  height: 95vh;
  margin-bottom: 5rem;

}

/* Left Block */
.our-work-main-section .left-block {
  background-color: antiquewhite;
  padding-top: 5rem;
  padding-left: 5rem;
}

.our-work-main-section .left-block h2 {
  font-size: 3.5rem;
  text-align: center;
  color: rgba(0, 0, 0, 0.781);
  margin-bottom: 3rem;
}

.our-work-main-section .left-block p {
  width: 80%;
  margin: auto;
  text-align: center;
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 0.774);
  margin-bottom: 3rem;
}

/* Right Block */
.our-work-main-section .right-block {
  background-color: #db0c66;
  padding-top: 13rem;
  padding-left: 3rem;
  color: white;
}

.our-work-main-section .right-block h2 {
  /* width: 100%; */
  font-size: 2.5rem;
  /* text-align: center; */
  margin-bottom: 3rem;
}

.our-work-main-section .right-block p {
  width: 90%;
  /* margin: auto; */
  /* text-align: center; */
  font-size: 1.4rem;
  margin-bottom: 3rem;
}

/* Contact Page Section */
.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 300px;
  padding: 4.5rem 0rem;
  margin-bottom: 2rem;
  border-top: solid 12px #db0c66c0;
  border-bottom: solid 10px #3e3d3c;
}

.contact-container h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: #db0c64;
}

.contact-container a {
  background-color: #db0c64;
  color: white;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: bolder;
  padding: 0.8rem 1.2rem;
  border: none;
  text-decoration: none;
  border-radius: 0.125rem;
  margin-top: 1rem;
}

/* Upcoming Section */
.upcoming-event-section h1,
.previous-event-section h1 {
  margin-top: 6rem;
  font-size: 2rem;
  text-align: center;
}

.headling-line-block {
  display: flex;
  margin: 1rem 0rem;
  align-items: center;
  justify-content: center;
}

.headling-line-block div {
  border-bottom: 5px solid #db0c64;
  width: 35px;
  margin-left: 0.3rem;
}

.headling-line-block div:nth-of-type(1) {
  margin-left: 0rem;
}

.upcoming-event-section,
.previous-event-section {
  width: 80%;
  margin: auto;
  margin-bottom: 10rem;
}

.content-container {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: auto;
  column-gap: 50px;
  row-gap: 70px;
  margin-top: 4rem;
}

.previous-event-section .content-container {
  grid-template-columns: repeat(3, 1fr);
}

.content-container .image-block img {
  width: 100%;
  border-radius: 1rem;
}

.info-block h2 {
  margin: 1rem 0rem;
}

.date-container {
  display: flex;
  margin-bottom: 1rem;
}

.date-container .date-right-block,
.date-container .date-left-block {
  display: flex;
  margin-right: 2rem;
}

.date-right-block img,
.date-left-block img {
  width: 20px;
  margin-right: 0.5rem;
}


.previous-event-section button {
  background-color: #db0c64;
  color: white;
  border: none;
  border-radius: 0.2rem;
  padding: 0.7rem 1.5rem;
  font-size: 0.9rem;
  font-weight: 600;
  margin-top: 1rem;
  transition: all 1s;
}

.previous-event-section a {
  text-decoration: none;
  color: white;
}

/* Footer */
footer {
  padding: 1rem 0rem;
  background: #db0c64;
  color: white;
  text-align: center;
}
